body{
    background-color: #ffffff;

}
div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.sidebar {
    height: 200px;
    width: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float: right;
    margin-top: 100px;
    padding-top: 40px;
    #background-color: lightblue;
}
