section {
    text-align: center;
    font-size: 160%;
    color: #ffffff;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

#input-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    margin-top: 0;
}

input {
    margin-top: 0;
    width: 10em;
    margin-right: 180px;
}

p {
    color: #ffffff;
    font-family: "Courier New";
    font-size: 100%;
}

h5 {

    font-size: 160%;
    font-family: "Impact";
}

/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

/*.typed-out {*/
/*    overflow: hidden;*/
/*    text-align: center;*/
/*    border-right: .15em solid orange;*/
/*    font-size: 160%;*/
/*    font-family: "Impact";*/
/*    width: 0;*/
/*    animation:*/
/*            typing 1s steps(4, end) forwards;*/
/*}*/

/*.container {*/
/*    display: inline-block;*/
/*}*/
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

