@keyframes rotation {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

header {
    padding-top: 4rem;
    overflow: hidden;
    margin-left: 200px;
}

img {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4.5s;
}

/* ==================== HEADER SOCIALS ==================== */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: white;
}